.wrapper {
    display: flex;
    align-items: center;
    column-gap: 60px;
}
.image {
    flex: 0 1 40%;
    position: relative;
    overflow: hidden;
}
.image img {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.content {
    flex: 0 1 60%;
}
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        row-gap: 20px;
    }
    .wrapper:nth-of-type(1) {
        margin-bottom: 60px;
    }
    .wrapper:nth-of-type(2) {
        flex-direction: column-reverse;
    }
}